.sign-in-box{
    width: 50%;
    margin: 0 auto 0 auto;
}
.sign-in-title{
    line-height: 1.5;
    font-size: 2.5rem;
    border-bottom: #c7c7c7 1px solid;
    text-align: center;
}
.sign-in-mail{
}
.sign-in-password{
}