.sign-in-box{
    width: 50%;
    margin: 0 auto 0 auto;
}
.sign-in-title{
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 2.5rem;
    border-bottom: #c7c7c7 1px solid;
    text-align: center;
}
.sign-in-label{
    width: 60%;
    margin: 0 auto 0 auto;
    display: block;
}
.sign-in-error{

}
.sign-in-input{
    width: 100%;
    margin: 0 auto 10px auto;
    display: block;
    border: #999 1px solid;
    padding: 8px;
    font-size: 0.9rem;
}
.sign-in-label:nth-last-child(2) {
    margin-bottom: 20px;
}
.sign-in-submit{
    width: 60%;
    margin: 0 auto 10px auto;
    display: block;
    border: #999 1px solid;
    padding: 8px;
    font-size: 0.9rem;
    text-align: center;
}