.auth-box{
    width: 50%;
    margin: 0 auto 0 auto;
}
.auth-title{
    margin-bottom: 35px;
    line-height: 1.7;
    font-size: 2.5rem;
    border-bottom: #c7c7c7 1px solid;
    text-align: center;
}
.auth-label{
    width: 60%;
    margin: 0 auto 16px auto;
    display: block;
}
.auth-error{
    width: 60%;
    margin: 0 auto 10px auto;
    color: firebrick;
}
.sign-in-remember-me{
    display: inline;
    margin-right: 10px;
}
.sign-in-checkbox{
    display: inline;
    border: #999 1px solid;
    padding: 8px;
    font-size: 0.9rem;
}
.auth-input{
    width: 100%;
    margin: 0 auto 10px auto;
    display: block;
    border: #999 1px solid;
    padding: 8px;
    font-size: 0.9rem;
}
.auth-label:nth-last-child(2) {
    margin-bottom: 20px;
}
.auth-button{
    width: 60%;
    margin: 0 auto 10px auto;
    display: block;
    border: #999 1px solid;
    padding: 8px;
    font-size: 0.9rem;
    text-align: center;
}
.auth-button:active
{
    background-color: #b4b4b5;
}