body{
    color: var(--text-normal);
    --container-margin: 10px;
}

/* framework override */
.slick-prev:before {
    color: lightslategray;
}
.slick-next:before {
    color: lightslategray;
}

.error{
    color: firebrick;
    margin-bottom: 10px;
}

.message-container{
    display: flex;
    width: 100%;
    padding: 10px;
    margin: var(--container-margin) auto;
    flex-direction: column;

    background-color: var(--background-secondary);
}
.message-container:first-child{
    margin: 0 auto var(--container-margin) auto;
}

.profile-container{
    display: flex;
    align-items: center;
    margin-bottom: var(--container-margin);
}

.message-image-slider{
    width: 92%;
    margin: 0 auto 10px auto;
}
.message-image{
    max-height: 70vh;
    margin: 0 10px;
}
.user-name{
    font-size: 1.3rem;
}
.user-icon{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

/*  message container footer */
.message-footer-container{}
.message-footer-element-container{
    padding-left: 3px;
}
.message-footer-element{
    display: inline-block;
    margin-right: 5px;
}
.like-count{
    margin-right: 5px;
}
.tag{
    text-decoration: none;
    margin-right: 4px;
}

/* text section */
.message-text-section-container{
    padding: 10px;
    background-color: var(--background-primary);
    margin-bottom: var(--container-margin);
}
.message-text-section-title{
    font-size: 1.2rem;
    margin-bottom: 5px;
}



/* 検索コンテナ― */
.search-container-parent,.advice-form-parent{
   text-align: center;
}
.search-container,.advice-form-container{
    text-align: left;
    display: inline-block;
    padding: 50px 100px;
    margin: 0 auto 50px auto;
    background-color: white;
}
.search-inner-container,.advice-inner-container{
    margin-bottom: 10px;
}
.search-inner-container:nth-last-of-type(1),.advice-inner-container:nth-last-of-type(1){
    margin-bottom: 30px;
}
.search-container-title,.advice-container-title{
    font-size: 1.7rem;
    margin-bottom: 20px;
}
.search-container-label,.advice-container-label{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.search-container-icon,.advice-container-icon{
    display: inline-block;
    margin-right: 8px;
}
.search-input,.search-button,.advice-button,.advice-input{
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--background-primary);
}
.advice-textarea{
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--background-primary);
    height: 10rem;
}

.text-section-container{
    width: var(--width-sub-visual);
    margin: 0 auto;
    background-color: var(--background-secondary);
}
.text-section-container-title{
    font-size: 2rem;
    margin-bottom: 20px;
}

.mini-categories-list-container{
    width: 250px;
    display: inline-flex;
    margin-right: 70px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.mini-categories-container{
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.mini-category-container-inner{
    padding: 20px;
    background-color: var(--background-secondary);
}
.mini-category-container{
    padding: 8px 5px 5px 5px;
    display: block;
    border-bottom: 2px #b4b4b5 solid;
}
.mini-category-container:last-of-type{
    border-bottom: none;
}
.mini-categories-container-title{
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.mini-category-title{
    display: inline;
    margin-right: 10px;
    font-size: 1.3rem;
}
.mini-category-likes{
    display: inline;
    float: right;
}

.search-button,.advice-button{
    width: 40%;
    font-weight: bold;
    margin: 0 auto 10px auto;
    display: block;
    border: #999 1px solid;
    padding: 8px;
    font-size: 0.9rem;
    text-align: center;
}
.search-button:active,.advice-button:active
{
    background-color: #b4b4b5;
}

/* popular */
.popular-main-container{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 0 auto;
}

/* スマホ */
@media (max-width: 599px){
    .mini-categories-list-container{
        display: none;
    }
}

/* タブレット */
@media (min-width: 600px) and (max-width: 769px){
    .mini-categories-list-container{
        display: none;
    }
}